<%- include('./partials/header') %>

<div class="container">
  <div class="card-panel center blue-grey darken-3 white-text">
    <span class="flow-text center">
      <strong>STORIES COLLECTION</strong>
    </span>
  </div>

  <% if (collection) { %>
  <div class="row">
    <div class="col s4">
      <% for (let i = 0; i < collection.length; i += 3) { %>
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title"><%= collection[i].story.title %></span>
          <p><%= collection[i].story.description %></p>
        </div>
        <div class="card-action">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col">
              <a href="/author/<%= collection[i].author_id %>" class="btn waves-effect waves-light amber darken-2">
                Author<i class="material-icons right">person</i>
              </a>
            </div>
            <div class="col right">
              <a href="/author/<%= collection[i].author_id %>/story/<%= collection[i].story._id %>"
                class="btn waves-effect waves-light amber darken-2">Read<i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="col s4">
      <% for (let i = 1; i < collection.length; i += 3) { %>
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title"><%= collection[i].story.title %></span>
          <p><%= collection[i].story.description %></p>
        </div>
        <div class="card-action">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col">
              <a href="/author/<%= collection[i].author_id %>" class="btn waves-effect waves-light amber darken-2">
                Author<i class="material-icons right">person</i>
              </a>
            </div>
            <div class="col right">
              <a href="/author/<%= collection[i].author_id %>/story/<%= collection[i].story._id %>"
                class="btn waves-effect waves-light amber darken-2">Read<i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="col s4">
      <% for (let i = 2; i < collection.length; i += 3) { %>
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title"><%= collection[i].story.title %></span>
          <p><%= collection[i].story.description %></p>
        </div>
        <div class="card-action">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col">
              <a href="/author/<%= collection[i].author_id %>" class="btn waves-effect waves-light amber darken-2">
                Author<i class="material-icons right">person</i>
              </a>
            </div>
            <div class="col right">
              <a href="/author/<%= collection[i].author_id %>/story/<%= collection[i].story._id %>"
                class="btn waves-effect waves-light amber darken-2">Read<i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
</div>

<%- include('./partials/footer') %>